<!DOCTYPE html>
<html>
    <head>
        <title><%= data.title %> | Betflix</title>
        <link rel="stylesheet" href="/all.css">
        <link rel="stylesheet" href="/font.css">
        <link rel="stylesheet" href="/scrollbar.css">
        <link rel="stylesheet" href="/views/media-page/style.css">
        <link rel="stylesheet" href="/partials/menu/style.css">
        <link rel="stylesheet" href="/partials/media-content/style.css">
        <link rel="stylesheet" href="/partials/cast-content/style.css">
        <link rel="stylesheet" href="/partials/episode-content/style.css">
    </head>
    <body>
        <%- include('../partials/menu', {user}) %>
        <div id="header">
            <div id="header-overlay"></div>
            <img src="<%= data.backdrop %>" width="100%" height="auto">
        </div>

        <div id="main">
            <div id="logo" style="background-image: url('<%= data.logo %>');"></div> 
            
            <div id="info"> 
                <%= data.title %>
                <div class="info-dividor"></div> 
                <%= data.content_rating %>
                <div class="info-dividor"></div> 
                <%= data.year %>
            </div>
            
            <div id="buttons">
                <div class="button-wide">
                    <img class="button-icon" src="/img/icons/play.png">
                    PLAY
                </div>
                <div class="button-round"></div>
            </div>
            
            <div id="overview">
                <%= data.overview %>
            </div>

            <% if(data.type == 'show'){ %> 
                <div id="seasons">
                    <% for(const s of allSeasons){ %>
                        <a href="./<%= s.season %>" 
                            <% if(s.season == season){ %> 
                                class="season cur" 
                            <% } else{ %>
                                class="season" 
                            <% } %>   
                        >
                        Season <%= s.season %></a>
                    <% } %> 
                </div>
                <%- include('../partials/episode-content'), {episodes} %>
            <% } %> 

            <div id="section-title">Cast</div>
            <%- include('../partials/cast-content', {cast: data.cast}) %>

        </div>
            
    </body>

    <script src="/views/media-page/script.js"></script>

</html>