<!DOCTYPE html>
<html>
    <head>
        <title><%= data.title %> | Betflix</title>
        <link rel="stylesheet" href="/css/all.css">
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="/css/scrollbar.css">
        <link rel="stylesheet" href="/css/media-page.css">
        <link rel="stylesheet" href="/css/cast-content.css">
        <link rel="stylesheet" href="/css/media-content.css">
        <link rel="stylesheet" href="/css/episode-content.css">
    </head>
    <body>
        <%- include('./partials/menu', {user}) %>
        <div id="header">
            <div id="header-overlay"></div>
            <img src="<%= data.backdrop %>" width="100%" height="auto">
        </div>

        <div id="main">
            <div id="logo" style="background-image: url('<%= data.logo %>');"></div> 
            
            <div id="info"> 
                <div><%= data.title %></div>
                <div class="info-dividor"></div> 
                <%= data.content_rating %>
                <div class="info-dividor"></div> 
                <%= data.year %>
            </div>
            
            <div id="buttons">
                <a class="button-wide" href="/media/p/<%= data.media_id %>">
                    <img class="button-icon" src="/img/icons/play.png">
                    PLAY
                </a>
                <div class="button-round">
                    <img class="button-icon" src="/img/icons/checkmark.png" alt="">
                </div>
            </div>
            
            <div id="overview">
                <%= data.overview %>
            </div>

            <% if(data.item_type == 2){ %> 
                <div id="seasons">
                    <% for(const season_num of data.av_seasons){ %>
                        <a href="?s=<%= season_num %>"
                            <% if(season_num == data.season_num){ %> 
                                class="season cur" 
                            <% } else{ %>
                                class="season" 
                            <% } %>   
                        >
                        Season <%= season_num %></a>
                    <% } %> 
                </div>
                <%- include('./partials/episodes-content', {episodes: data.episodes}) %>
            <% } %> 

            <div id="section-title">Cast</div>
            <%- include('./partials/cast-content', {cast: data.cast}) %>

        </div>
            
    </body>

    <script src="/js/media-page.js"></script>
    <script src="/js/menu.js"></script>

</html>