<!DOCTYPE html>
<html>
    <head>
        <title><%= data.title %> | Betflix</title>
        <link rel="stylesheet" href="/css/all.css">
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="/css/scrollbar.css">
        <link rel="stylesheet" href="/css/media-page.css">
        <link rel="stylesheet" href="/css/cast-content.css">
        <link rel="stylesheet" href="/css/media-content.css">
        <link rel="stylesheet" href="/css/episode-content.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
    <body>
        <%- include('./partials/menu', {user}) %>
        <div id="header">
            <div id="header-overlay"></div>
            <img src="<%= data.backdrop %>" width="100%" height="auto">
        </div>

        <div id="main">
            <div id="logo" style="background-image: url('<%= data.logo %>');"></div> 
            
            <div id="info"> 
                <div><%= data.title %></div>
                <div class="info-dividor"></div> 
                <%= data.content_rating %>
                <div class="info-dividor"></div> 
                <%= data.year %>
            </div>
            
            <div id="buttons">
                <a class="button-wide" href="/media/p/<%= data.media_id %>">
                    <img class="button-icon" src="/img/icons/play.png">
                    PLAY
                </a>
        
                <div 
                    <% if(data.in_watchlist == 1){ %>
                    class="button-round watchlist-rem show"
                    <% } else { %>
                    class="button-round watchlist-rem"
                    <% } %>
                >
                    <img class="button-icon" src="/img/icons/checkmark.png" alt="remove from watchlist">
                </div>

                <div class="button-round watchlist-add">
                    <img class="button-icon" src="/img/icons/plus.png" alt="add to watchlist">
                </div>

            </div>
            
            <div id="overview">
                <%= data.overview %>
            </div>

            <% if(data.item_type == 2){ %>
                <div class="section-header">
                    <button 
                        id="season" 
                        onclick="document.getElementById('seasons').classList.toggle('show')"
                    >
                        Season <%= data.season_num %> 
                        <img src="/img/icons/arrowDown.png">
                    </button>
                    <div class="container-nav">
                        <button class="episode-nav nav left"></button>
                        <button class="episode-nav nav right"></button>
                    </div>
                </div>
                <div class="no-space">
                    <div id="seasons">
                        <% for(const season_num of data.av_seasons){ %>
                        <a href="?s=<%= season_num %>" class="season">
                            Season <%= season_num %>
                        </a>
                        <% } %> 
                    </div>
                </div>
                <%- include('./partials/episodes-content', {episodes: data.episodes}) %>
            <% } %> 

            <div class="section-header">
                <div id="section-title">Cast</div>
                <div class="container-nav">
                    <button class="cast-nav nav left"></button>
                    <button class="cast-nav nav right"></button>
                </div>
            </div>
            <%- include('partials/cast-content', {cast: data.cast}) %>
            <%- include('partials/footer') %>
        </div>
            
    </body>

    <script src="/lib/jquery.min.js"></script>
    <script src="/js/media-page.js"></script>
    <script src="/js/menu.js"></script>

</html>